.gitattributes git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1                                      
*_1 git-encoding=ISO8859-1 working-tree-encoding=ISO8859-1                                           
*_2 git-encoding=ISO8859-1 working-tree-encoding=IBM-1047
*_3 git-encoding=ISO8859-1 working-tree-encoding=UTF-8
*_4 git-encoding=ISO8859-1 working-tree-encoding=KOI8-R
